/* Asegúrate de que el contenedor de los textos esté centrado */
.preloader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;  /* Asegura que ocupe toda la pantalla */
    position: fixed; /* Asegura que esté por encima de todo el contenido */
    top: 0;
    left: 0;
    background-color: #000; /* Fondo negro */
    z-index: 9999; /* Asegura que esté encima de todo */
    overflow: hidden;
}

/* Contenedor de la imagen del logo */
.logo-container {
    margin-bottom: 30px; /* Espacio entre el logo y los textos */
    opacity: 0; /* Inicialmente oculto */
    transform: translateY(-20px); /* Para que se desplace ligeramente hacia abajo */
}

/* Estilo de la imagen del logo */
.preloader-image {
    width: 500px; /* Ajusta el tamaño según lo necesites */
    font-size: 1000px;
    opacity: 0; /* Inicialmente oculto */
    transform: translateY(-40px); /* Para que se desplace ligeramente hacia abajo */
}

/* Contenedor de los textos con flexbox */
.texts-container {
    display: flex; /* Alinea los elementos horizontalmente */
    align-items: center; /* Alinea verticalmente la línea y el texto */
    opacity: 0; /* Inicialmente oculto */
    transform: translateY(20px); /* Para que los textos se deslicen desde abajo */
}

/* Estilo para los textos */
.texts-container span {
    display: block;
    font-size: 2rem; /* Ajusta el tamaño según lo necesites */
    font-weight: bold;
    color: #fff;
}

/* Línea vertical */
.linea-vertical {
    height: 30px; /* Ajusta la altura según lo necesites */
    width: 7px;
    background-color: #684382;
    margin-right: 5px; /* Espacio entre la línea y el texto */
}

/* Estilo para el punto titilante */
.dot {
    font-size: 5rem;
    font-weight: bold;
    color: #fff;
    opacity: 0; /* Inicialmente invisible */
}